@import '@/assets/scss/variables.scss';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $color-black-opacity-3;
}

.modal__container {
  padding: 15px;
  background-color: $color-default-white;
  border-radius: 10px;
}

.modal--loader .modal__container {
  background-color: transparent;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__button {
  justify-self: center;
}

.modal__text {
  margin: 0;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal__loader {
  display: inline-block;
  border: 4px solid $color-default-white;
  border-left-color: $color-main;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: donut-spin 1.2s linear infinite;
}

.modal__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
