@import '@/assets/scss/variables.scss';

.header {
  margin-bottom: 40px;
  padding: 10px 0;
  background-color: $color-secondary;
  color: $color-default-white;
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
