.header {
  margin-bottom: 40px;
  padding: 10px 0;
  background-color: #165996;
  color: #ffffff;
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
