@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user__name {
  display: none;

  @media (min-width: 744px) {
    display: block;
  }
}

.user__logout {
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: $color-main;
  color: $color-default-white;
  cursor: pointer;
  transition: background-color 0.3s;

  @include hover {
    background-color: $color-main-hover;
  }
}
