@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';

.button {
  margin: 0;
  padding: 10px;
  color: #ffffff;
  background-color: $color-main;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  @include hover {
    background-color: $color-main-hover;
  }

  &:disabled {
    opacity: 0.5;
  }
}
