@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

.navigation__link {
  position: relative;
  padding-bottom: 10px;
  color: $color-default-white;
  transition: color 0.3s;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
  }
  
  &:not(.navigation__link--active) {
    @include hover {
      color: $color-main-hover;
    }
  }
}

.navigation__link--active::after {
  background-color: $color-main;
}
